ProdutoPAC59.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="ArrayOfItemSolicitacao">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="ItemSolicitacao"  maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>

      <xs:element name="Marca" minOccurs="1">
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:maxLength value="800"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="Modelo" minOccurs="1">
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:maxLength value="800"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element  name="Descricao" minOccurs="0">
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:maxLength value="800"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element  name="Nome" minOccurs="0">
       <xs:simpleType>
        <xs:restriction base="xs:string">
         <xs:maxLength value="800"/>
        </xs:restriction>
       </xs:simpleType>
      </xs:element>

      <xs:element name="CodigosBarras" minOccurs="1">
       <xs:complexType>
        <xs:sequence>
         <xs:element name="Codigo" minOccurs="1" maxOccurs="unbounded">
          <xs:simpleType>
           <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
           </xs:restriction>
          </xs:simpleType>
         </xs:element>
        </xs:sequence>
       </xs:complexType>
      </xs:element>

      <xs:element name="PBE" minOccurs="1" maxOccurs="1">
       <xs:complexType>
        <xs:sequence>

         <xs:element name="C235" type="C235Type" minOccurs="0" />
         <xs:element name="C236" type="C236Type" minOccurs="0" />
         <xs:element name="C237" type="C237Type" minOccurs="0" />
         <xs:element name="C238" type="C238Type" minOccurs="0" />
         <xs:element name="C239" type="C239Type" minOccurs="0" />
         <xs:element name="C240" type="C240Type" minOccurs="0" />

        </xs:sequence>
         <xs:attribute name="IdPAC" type="xs:integer" use="required" fixed="59"   />
       </xs:complexType>
      </xs:element>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>

 <xs:complexType name="C235Type">
  <xs:simpleContent>
   <xs:restriction base="C235IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C235IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C236Type">
  <xs:simpleContent>
   <xs:restriction base="C236IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C236IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C237Type">
  <xs:simpleContent>
   <xs:restriction base="C237IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C237IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C238Type">
  <xs:simpleContent>
   <xs:restriction base="C238IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C238IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C239Type">
  <xs:simpleContent>
   <xs:restriction base="C239IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C239IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C240Type">
  <xs:simpleContent>
   <xs:restriction base="C240IDType">
   </xs:restriction>
  </xs:simpleContent>
 </xs:complexType>

 <xs:complexType name="C240IDType">
  <xs:simpleContent>
   <xs:extension base="xs:string">
   </xs:extension>
  </xs:simpleContent>
 </xs:complexType>

</xs:schema>